# Spring properties
spring:
  data:
    mongodb:
      uri: mongodb://172.17.0.1:27017/test
  application:
    name: user-service  # Service registers under this name

endpoints:
  health:
    enabled: yes
  shutdown:
    enabled: yes

management:
    context-path: /admin
    
logging:
  level:
    org:
      springframework:
        web:
          client: DEBUG
          
mail:
  remitente:  eatrandomvodafone
  password:  Vodafone2019
  
# HTTP Server
server:
  port: 4444   # HTTP (Tomcat) port

