# Spring properties
spring:
  data:
    mongodb:
      uri: mongodb://localhost:27017/test
  application:
    name: user-service  # Service registers under this name

endpoints:
  health:
    enabled: yes
  shutdown:
    enabled: yes

management:
    context-path: /admin
logging:
  level:
    org:
      springframework:
        web:
          client: DEBUG

# HTTP Server
server:
  port: 4444   # HTTP (Tomcat) port

