# Spring properties
spring:
  data:
    mongodb:
      uri: mongodb://172.17.0.1:27017/test
  application:
    name: user-service  # Service registers under this name

endpoints:
  health:
    enabled: yes
  shutdown:
    enabled: yes

management:
    context-path: /admin
logging:
  level:
    org:
      springframework:
        web:
          client: DEBUG

# Config
config:
  nexts: 2
  minGroup: 3
  mesa1:
    id: mesa_1
    maxPersonas: 6
    horarios: 13 - 14
  mesa2:
    id: mesa_2
    maxPersonas: 6
    horarios: 14 - 15
  mesa3:
    id: mesa_3
    maxPersonas: 6
    horarios: 15 - 16
  mesa4:
    id: mesa_4
    maxPersonas: 4
    horarios: 13 - 14
  mesa5:
    id: mesa_5
    maxPersonas: 4
    horarios: 14 - 15
  mesa6:
    id: mesa_6
    maxPersonas: 4
    horarios: 15 - 16



# HTTP Server
server:
  port: 4444   # HTTP (Tomcat) port

